.DS_Store
.gitignore
node_modules
public
prof
tsconfig.tsbuildinfo
**/.obsidian/workspace*.json
**/.obsidian/plugins/
**/.obsidian/cache/
**/.obsidian/logs/
.quartz-cache
private/
.replit
replit.nix
_llm-wiki/Raw/Files/*
!_llm-wiki/Raw/Files/.gitkeep
Drafts/
_llm-ignore/*
!_llm-ignore/.gitkeep
